body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background-color: #fdf8e1 !important;
}

button {
    margin: 10px;
    padding: 8px 16px;
}

